<%# projects#index に対応する View %>
<h1>Projects</h1>

<ul>
  <%# ループを回す %>
  <% @projects.each do |project| %>
    <li><%= link_to project.title, project_path(project.id) %></li>
  <% end %>
</ul>

<%# 新規作成 %>
<p><%= link_to "Add New", new_project_path %></p>